.nav-element {
    margin-right: 15px;
    margin-left: 15px;
}

/* .whole-navbar {
    margin-right: 100px;
    margin-left: 100px;
} */

/* @media only screen and (min-width: 480px) {
    .whole-navbar {
        margin-right: 8px;
        margin-left: 8px;
    }
 } */