.nav-element {
    margin-right: 15px;
    margin-left: 15px;
}

.whole-navbar {
    margin: 40px;
    margin-right: 10px;
    margin-left: 10px;

}

@media only screen and (min-width: 550px) {
    .whole-navbar {
        margin: 40px;
        margin-right: 80px;
        margin-left: 80px;
    }
 }